version: '3.9'
services:
   frontend:
      image: todo-frontend:10
      ports:
       - "8080:8080"
      networks:
       - todo-network
   backend:
      image: todo-backend:10
      ports:
       - "5000:5000"
      env_file:
      - ./backend/.env
      networks:
       - todo-network
      depends_on:
       - mongo
    
   mongo:
      image: mongo:6.0.6-jammy

      ports:
          - "27017:27017"
      networks:
       - todo-network
      volumes:
       - mongo-data:/data/db
networks:
       todo-network: 
           driver: bridge
volumes:
        mongo-data:
           driver: local
  
   